*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

img {
    width: 10rem;
}

form input {
    margin: .5rem;
    width: 16rem;
}

.buttons {
    margin: 1rem auto ;
}
 
#res2{
    margin-top: 10px;
    padding: 20px;
    background-color: #17A2B8;
    color: white;
    border-radius: 5px;
    min-width: 15rem;
    border: solid black;
}
